.footer {
    background-color: var(--fill-color);
    padding-top     : 60px;
    padding-bottom  : 60px;
}

// .footer-box {
//     display    : flex;
//     align-items: center;
//     align-items: baseline;
// }

.footer-box {
    display   : block;
    text-align: center;

    @media screen and (min-width: 768px) {
        display        : flex;
        align-items    : baseline;
        justify-content: space-around;
        flex-flow      : wrap;
    }

    @media screen and (min-width: 1200px) {
        text-align     : left;
        display        : flex;
        align-items    : baseline;
        justify-content: space-between;
    }

    .footer-left {
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
        }
    }
}


.logo-footer {
    padding-top    : 0;
    padding-bottom : 0;
    margin-bottom  : 20px;
    margin-right   : 0;
    justify-content: center;
    align-content  : center;
    text-align     : center;

    @media screen and (min-width: 1200px) {
        text-align     : left;
        align-content  : flex-start;
        justify-content: flex-start;
    }
}

.footer-link {
    margin: 0;
}

.footer-social {
    display        : flex;
/*align-items  : right;*/
align-items    : center;
justify-content: center;
margin-bottom  : 72px;

@media screen and (min-width: 768px) {
    margin-bottom: 102px;
}

@media screen and (min-width: 1200px) {
    align-items    : right;
    justify-content: flex-start;
    margin-bottom  : 0px;
}

>li {
    width : 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}
}




.footer-nav {
    padding-top : 20px;
    padding-left: 0;
    & .address-link:not(:last-child) {
        margin-bottom: 9px;
    }
}


.link-office {
    color          : var(--logo-color-footer);
    text-decoration: none;
    font-size      : 14px;
    line-height    : 1.71;
    letter-spacing : 0.03em;
    font-style     : normal;
}

.footer-nav .link-contact {
    color          : rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size      : 14px;
    line-height    : 1.71;
    letter-spacing : 0.03em;
    font-style     : normal;
}

.subscribe {
        @media screen and (min-width: 480px) {
    margin: 0;
    display: block;
    margin-bottom: 20px;
}
    @media screen and (min-width: 1200px) {
    margin-left: 93px;
}

}

.footer-text {
    font-size     : 14px;
    line-height   : 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top    : 12px;
    margin-bottom : 20px;

    color: var(--hero-text-color);
}



.footer-input {
    display: block;
    /*width: 358px;*/
    height : 50px;
    margin : 0 auto 20px;
    width  : 90%;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width        : 358px;
        margin-right : 12px;
        margin-bottom: 0px;
    }

    border: 1px solid rgba(255, 255, 255, 0.3);

    filter       : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background   : transparent;
    padding-left : 16px;
    color        : rgba(255, 255, 255, 0.6);
}


.footer-input::placeholder {
    font-size     : 16px;
    line-height   : 1.25;
    align-items   : center;
    letter-spacing: 0.03em;
    color         : rgba(255, 255, 255, 0.6);
}

.footer-input-wrapper {
    position: relative;
}

.footer-icon {
    fill: #ffffff;
    margin-left: 10px;
}

.footer-form {
    display    : block;
    align-items: center;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.button.footer-btn {
    padding        : 10px 29px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0 auto;
}

@media screen and (min-width: 1200px) {
    .button.footer-btn {
        justify-content: flex-start;
        margin         : 0px;
    }
}