.footer {
    background-color: var(--fill-color);
    padding-top     : 60px;
    padding-bottom  : 60px;
}

.footer-box {
    display    : flex;
    align-items: center;
    align-items: baseline;
}


.footer-nav {
    padding-top : 20px;
    padding-left: 0;
    & .address-link:not(:last-child) {
        margin-bottom: 9px;
    }
}


.link-office {
    color          : var(--logo-color-footer);
    text-decoration: none;
    font-size      : 14px;
    line-height    : 1.71;
    letter-spacing : 0.03em;
    font-style     : normal;
}

.footer-nav .link-contact {
    color          : rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size      : 14px;
    line-height    : 1.71;
    letter-spacing : 0.03em;
    font-style     : normal;
}

.subscribe {
    margin-left: 93px;
}

.footer-text {
    font-size     : 14px;
    line-height   : 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top    : 12px;
    margin-bottom : 20px;

    color: var(--hero-text-color);
}



.footer-input {
    width  : 358px;
    padding: 15px 16px;
    color  : var(--logo-color-footer);

    border       : 1px solid rgba(255, 255, 255, 0.3);
    box-sizing   : border-box;
    filter       : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background: var(--fill-color);
    &::placeholder {
        font-size  : 16px;
        line-height: 1.25;

        align-items   : center;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }
    &-wrapper {
        position: relative;
    }
}

.footer-icon {
    position: absolute;
    top     : 13px;
    right   : 28px;
}

