.main-project {
    padding-top   : 94px;
    padding-bottom: 94px;
    @media (max-width: 1199px) {
        display: none;
    }
}

.section-title {
    color        : var(--title-text-color);
    font-weight  : bold;
    font-size    : 36px;
    line-height  : 1.16;
    margin-top   : 0;
    margin-bottom: 50px;
    text-align   : center;
}

.works {
    display        : flex;
    justify-content: center;
    padding-left   : 0;
    padding-right  : 0;
    margin-right   : 0;
    &__link {
        position   : relative;
        align-items: center;
        .works &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &__text {
        position: absolute;
        width   : 100%;
        height  : 70px;
        left    : 0;
        bottom  : 0;

        background: rgba(47, 48, 58, 0.8);
        &__title {
            font-weight   : bold;
            font-size     : 14px;
            line-height   : 1.142;
            letter-spacing: 0.03em;
            text-align    : center;
            margin-top    : 27px;
            margin-bottom : 27px;

            text-transform: uppercase;
            color         : var(--logo-color-footer);
        }
    }
}



