@mixin mob {
    @media screen and (min-width: 480px) {
        @content;
    }
}
@mixin tab {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desk {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desk {
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
}

.exemple {
    &:not(:last-child) {
        @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    }
    }
}


