:root {
    --primary-text-color: #757575;
    --title-text-color  : #212121;
    --accent-color      : #2196F3;
    --primary-bg-color  : #FFFFFF;
    --fill-color        : #2F303A;
    --logo-color-header : #000000;
    --logo-color-footer : #FFFFFF;
    --hero-text-color   : #FFFFFF;
    --button-text-color : #FFFFFF;
    --potfolio-bg-color : #F5F4FA;
}